jobs:
  build_forge_1_7_10:
    runs-on: windows-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 8
        uses: actions/setup-java@v4
        with:
          java-version: '8'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: build
        shell: cmd
        run: |
          link.cmd && cd forge_1_7_10 && gradlew build

      - name: upload jar
        uses: actions/upload-artifact@v4
        with:
          name: allmusic_server_forge_1_7_10
          path: forge_1_7_10/build/libs/*.jar
